@import "options";

ul.follow li {
  padding: 5px;
  font-size: 1.2em;
  a, img {
    vertical-align: top;
  }
  a {
    float: right;
  }
}

ul.follow li:hover{
  background: $yellow;
  box-shadow:1px 1px 5px $bright;
}
